---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Announcements from "../components/Announcements.astro";
import { QR } from "qr-svg";
import XPeriod from "../components/today/XPeriod.astro";
import Lunch from "../components/today/Lunch.astro";
import Schedule from "../components/today/Schedule.astro";
import HouseCup from "../components/housecup/HouseCup.astro";
import Newsletter from "../components/Newsletter.astro";
import Google from "../utils/google";
import Card from "../components/Card.astro";

const feedback = QR(await Google.getFeedback());

const submit = QR(await Google.getSubmission());
---

<Layout title="Spartan Daily">
  <main class="p6 ma" style="max-width: 180ch;">
    <div class="grid grid-cols-6 gap-3">
      <div class="row-span-3 col-span-2">
        <Announcements />
      </div>
      <div class="col-span-3">
        <Showcase />
      </div>
      <ul class="space-y-3 row-span-3">
        <Lunch />
        <Newsletter />
        <Card title="Feedback">
          <Fragment set:html={feedback} />
        </Card>
        <Card title="Submissions">
          <Fragment set:html={submit} />
        </Card>
      </ul>
      <Schedule />
      <XPeriod />
      <HouseCup />
    </div>
  </main>
</Layout>
