---
---

<footer class="m4 absolute bottom-0">
  <span class="text-sm text-gray-500">
    We're open source! <span class="underline"
      >https://github.com/spa-stc/spartan-daily</span
    >
  </span>
</footer>
