---
---

<footer class="m4 absolute bottom-0">
  <span class="text-sm text-gray-500">
    We're open source! <a href="https://github.com/spa-stc/spartan-daily" class="underline">https://github.com/spa-stc/spartan-daily</a>
  </span>
</footer>
