---
import { marked } from "marked";
import Google from "../../utils/google";
import Card from "../Card.astro";

const x = await Google.getX();
---

<Card title="X Period Today">
  <Fragment set:html={marked.parse(x.event ?? "Nothing scheduled")} />
  {x.location && <p>{x.location}</p>}
</Card>
